html{
    box-sizing: border-box; 
 }
 *,
 *::before,
 *::after{
     box-sizing: inherit;
 }
 
 body{
     text-transform: uppercase;
     min-width: 320px;
     overflow-x: hidden;
     font-family: 'Noto Sans HK', sans-serif;
     font-weight: normal;
     font-size: 16px;
     line-height: 22px;
 }
 a{
     display: inline-block;
     text-decoration: none;
     color: #fff;
 }
 ul,
 li{
     list-style: none;
     margin: 0;
     padding: 0;
     color: #fff;
 }
 .container{
    max-width: 960px;
    margin: 0 auto;
 }
 .title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
 }
 #modal{
    display: none;
}